body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121212;
  color: #fff;
}
body.dark {
  background-color: #121212;
  color: #fff;
}
body:not(.dark) {
  background-color: #fff;
  color: #000;
}
